header {
      text-align: center;
      background: url("https://c1.staticflickr.com/9/8844/17525498334_c9d24e4274_b.jpg");
      background-size: cover;
      background-position: center;
      color: #ffff;
      font-family: calibri;
      font-size: 20px;
    }

#intro {
      text-align: center;
      background-color: #f0f8ff;
      font-family: calibri;
      font-size: 12px;
    }

a {
      color: #fff;
    }
a:hover {
  color: #30211b;
}
h1 {
      font-size: 50px;
    }
u1 {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
p {
      font-size: 20px;
    }
    
@media (max-width: 500px) {
      h1 {
        font-size: 36px;
      }
      li {
        display: block;
        padding: 5px;
      body {
        background: blue;
      }
      }

.nav{
      font-size: 12px;
      color: #00ffff;
      font-family: calibri;
      background-color: #a9a9a9;
      display: inline;

  }

.projects{
  font-size: 12px;
    color: #00ffff;
    font-family: calibri;
    background-color: #f0f8ff;
}