header {
      text-align: center;
      padding-right: 20px;
      padding-top: 20px;
      background: url("https://c1.staticflickr.com/9/8844/17525498334_c9d24e4274_b.jpg");
      background-size: cover;
      background-position: center;
      color: ##0ABAB5;
      font-family: calibri;
      font-size: 20px;
    }

#intro {
      text-align: center;
      background-color: #f0f8ff;
      font-size: 12px;
    }

#pictures{
  text-align: center;
  background-color: #fof8ff;
  padding: 10px 10px 10px 10px;
}

#csprojs {
  background-color: #f23dh3;
  padding: 20px 20px 20px 20px;
}
a {
      color: #fff;
    }
a:hover {
  color: #30211b;
}

summary:after {
    content: "+";
    color: #FF00FF;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    width: 20px;
}

details[open] summary:after {
    content: "-";
    color: ##82CAFA; 
    font-size: 25px;
}

h1 {
      font-size: 50px;
    }
u1 {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
li {
      display: inline;
      padding: 5px 10px 5px 10px;
    }
p {
      font-size: 20px;
    }
footer {
  text-align: right;
  padding-right: 10px;
}
    
@media (max-width: 500px) {
      h1 {
        font-size: 36px;
      }
      li {
        display: block;
        padding: 5px;
      body {
        background: blue;
        font-size:30px;
      }
      }

.nav{
      font-size: 12px;
      color: #00ffff;
      background-color: #a9a9a9;
      display: inline;

  }
